<mat-sidenav-container class="sidenav-container">
  <button  mat-button (click)="sidenav.toggle()">
    <span class="menu-link" *ngIf="!sidenav.opened"><mat-icon>menu</mat-icon>Menu</span>
    <span *ngIf="sidenav.opened"><mat-icon color="accent">close</mat-icon></span>
  </button>
  <mat-sidenav #sidenav class="sidenav" mode="side">
    <a mat-button >Add Vehicle</a>
    <a mat-button >Book an Hour</a>
  </mat-sidenav>
  <section class="sidenav-content">
    <router-outlet>
    </router-outlet>
  </section>
</mat-sidenav-container>
