.sidenav-container {
  height: 87%;
}

.sidenav {
  font-size: 24px;
  padding: 20px;
  width: 14%;
  background-color: #e2e8f091;
  display: inline;
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
}

.menu-link {
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333335;
  font-size: 22px;
}

.menu-link > mat-icon {
  font-size: 26px;
  margin-right: 4px;
}

#toggle-btn {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

#toggle-btn:hover {
  transform: scale(105%);
}

.mat-mdc-button {
  font-size: 16px;
  margin: 5px 5px;
  font-weight: 500;
  display: block;
}

a:hover {
  transform: scale(104%);
}








