.sidenav-container {
  height: 87%;
}

.sidenav {
  padding: 20px;
  width: 12%;
  color: #333335;
  display: inline;
}
.sidenav-content {
  display: flex;
  height: 95%;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
}

.menu-link {
  box-sizing: border-box;
  margin-top: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333335;
}


