<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>
<header th:replace="~{fragments/commons::nav}">
</header>
<main>
    <div class="jumbotron">
        <div class="container text-dark">
            <h2 class="display-3 ">
                <strong class="bg-blur rounded border-left border-white pl-3 border-bottom">
                    Update</strong></h2>
        </div>
        <div class="container bg-blur rounded p-5 mt-5 w-75">
            <form th:action="@{/employees/saveEmployee}"
                  th:method="post"
                  th:object="${employee}"
                  class=" text-center text-light">
                <div th:each="error : ${#fields.errors()}" th:object="${error}" th:text="error"></div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="hidden"
                               th:field="*{id}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="id"
                               aria-describedby="firstNameHelpInline">
                        <small id="idHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label text-dark">First name</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{firstName}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="firstName"
                               aria-describedby="firstNameHelpInline">
                        <small id="firstNameHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid first name.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label text-dark">Last name</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{lastName}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="lastName"
                               aria-describedby="lastNameHelpInline">
                        <small id="lastNameHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid last name.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label text-dark">Email</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{email}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="email"
                               aria-describedby="emailHelpInline">
                        <small id="emailHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid email address.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phoneNumber" class="col-sm-2 col-form-label text-dark">Phone number</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{phoneNumber}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="phoneNumber"
                               aria-describedby="phoneNumberHelpInline">
                        <small id="phoneNumberHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid phone number.
                        </small>
                    </div>
                </div>
                <div id="date-picker-example" class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label text-dark">Select date</label>
                    <div class="col-sm-10">
                        <input placeholder="Select date" type="date" id="date" class="form-control" th:field="*{birthDate}">
                        <i class="fas fa-calendar input-prefix"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="salary" class="col-sm-2 col-form-label text-dark">Salary</label>
                    <div class="col-sm-10">
                        <input type="text"
                               th:field="*{salary}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="salary"
                               aria-describedby="salaryHelpInline">
                        <small id="salaryHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid salary.
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label text-dark">Password</label>
                    <div class="col-sm-10">
                        <input type="hidden"
                               th:field="*{password}"
                               th:errorclass="'is-invalid'"
                               class="form-control"
                               id="password"
                               aria-describedby="passwordHelpInline"
                               placeholder="Password">
                        <small id="passwordHelpInline"
                               class="invalid-feedback bg-danger text-light rounded">
                            Enter valid password.
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-info w-50">Update Employee</button>
            </form>
            <hr class="bg-light">
        </div>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>