<h1>Welcome to Admin Module</h1>
<h2>Manage All Bookings</h2>
<ng-container *ngIf="!isBookings">
  <h3>Booking List Is Empty</h3>
  <button mat-raised-button color="primary" routerLink="/">Back to Home</button>
</ng-container>
<ng-container *ngIf="isBookings">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Num.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>Brand</th>
      <td mat-cell *matCellDef="let booking">{{ booking.vehicle.brand }}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let booking">
        {{ booking.vehicle.model }}
      </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let booking">
        {{ booking.user.email }}
      </td>
    </ng-container>

        <ng-container matColumnDef="service-type">
      <th mat-header-cell *matHeaderCellDef>Service Type</th>
      <td mat-cell *matCellDef="let booking">
        {{ getServiceType(booking.serviceType) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <th mat-header-cell *matHeaderCellDef>Booking status</th>
      <td mat-cell *matCellDef="let booking">
        {{ booking.isConfirmed ? "Confirmed Booking" : "Pending" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Vehicle status</th>
      <td mat-cell *matCellDef="let booking">
        {{ booking.isReady ? "Ready" : "" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let booking">
        {{ booking.price }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let booking">
        <button mat-raised-button color="accent" (click)="updateBooking(booking.id)">
          Update Booking
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
