<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Employee Portal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Create new Employee</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Create new Task</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">View all Employees</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">View all Tasks</a>-->
<!--                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEmployeeLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/employees/create}">Create new Employee</a>
                        <a class="dropdown-item" th:href="@{/tasks/create}">Create new Task</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTaskLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        View
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">View all Employees</a>
                        <a class="dropdown-item" href="#">View all Tasks</a>
                    </div>
                </li>
<!--                <div class="dropdown">-->
<!--                    <button class="dropbtn">Dropdown</button>-->
<!--                    <div class="dropdown-content">-->
<!--                        <a href="#">Link 1</a>-->
<!--                        <a href="#">Link 2</a>-->
<!--                        <a href="#">Link 3</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="dropdown">-->
<!--                    <button class="dropbtn">Dropdown</button>-->
<!--                    <div class="dropdown-content">-->
<!--                        <a href="#">Link 1</a>-->
<!--                        <a href="#">Link 2</a>-->
<!--                        <a href="#">Link 3</a>-->
<!--                    </div>-->
<!--                </div>-->
            </ul>
        </div>
    </nav>
</header>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white fixed-bottom">
            &copy; Example. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>