.navbar {
    justify-content: space-between;
    font-size: 28px;
    box-shadow: 4px 4px 20px 0px #0000005d;
}

.logo {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-style: italic;
    font-family: '';
}

.logo-img {
    height: 55px;
    border-radius: 20px;
}

mat-icon {
    font-size: 25px;
}

.logo:hover {
    transform: scale(105%);
}

.nav-links {
    display: flex;
    justify-content: right;
    gap: 3rem;
    list-style-type: none;
}

.nav-links a {
    font-size: 0.6em;
    font-weight: 300;
    opacity: 0.90;
    transition: 0.1s;
}

.nav-links a:hover {
    opacity: 1;
    transform: scale(105%);
    text-decoration: underline;
}

