mat-form-field {
    display: block;
}

.actions {
    display: flex;
    gap: 12px;
}

mat-raised-button {
    margin: 5px 5px;
}

.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}

input.right-align {
  -moz-appearance: textfield;
  appearance: textfield;
}