<section class="welcome-container">
<h1 class="welcome-msg">
  <div>Welcome to <p>BestService</p>, the right place for your car. We will take care of your car as nobody else.</div>
  <div>We offer a wide variety of services such as:</div>
</h1>
<mat-grid-list cols="4" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile
    class="tile first-tile"
    colspan="2"
    rowspan="1"
    [ngStyle]="{ backgroundImage: 'url(' + image1 + ')' }"
    >
    <mat-grid-tile-header>Diagnostics</mat-grid-tile-header></mat-grid-tile
  >
  <mat-grid-tile
    class="tile second-tile"
    colspan="2"
    rowspan="1"
    [ngStyle]="{ backgroundImage: 'url(' + image2 + ')' }"
    ><mat-grid-tile-header>Oil change</mat-grid-tile-header></mat-grid-tile
  >
  <mat-grid-tile
    class="tile third-tile"
    colspan="2"
    rowspan="1"
    [ngStyle]="{ backgroundImage: 'url(' + image3 + ')' }"
    ><mat-grid-tile-header>Suspension work</mat-grid-tile-header></mat-grid-tile
  >
  <mat-grid-tile
    class="tile fourth-tile"
    colspan="2"
    rowspan="1"
    [ngStyle]="{ backgroundImage: 'url(' + image4 + ')' }"
    ><mat-grid-tile-header>Tire service</mat-grid-tile-header></mat-grid-tile
  >
</mat-grid-list>
</section>
