.welcome-container {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.884);
  font-family: 'arial';
}
.welcome-msg {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  padding: 15px;
}

.welcome-msg p {
  display: inline;
  font-family: '';
  color: black;
}

mat-grid-tile {
  border: 2px solid snow;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

mat-grid-tile:hover {
  scale: 105%;
}

mat-grid-tile-header {
  font-size: 18px;
}

