<div class="container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <h2>Login</h2>

    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input type="email" matInput formControlName="email" required />
      <mat-error *ngIf="form.get('email')?.hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="form.get('email')?.hasError('email')"
        >Invalid email format</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput required formControlName="password" required />
      <mat-error *ngIf="form.get('password')?.hasError('required')"
        >Password is required</mat-error
      >
      <mat-error *ngIf="form.get('password')?.hasError('minlength')"
        >Must be at least 6 symbols</mat-error
      >
      
    </mat-form-field>
    
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">
      Login
    </button>
    <hr>
    <mat-error *ngIf="form?.hasError('unauthenticated')"
      >Wrong Email or Password</mat-error
    >

    <p class="text-center">
      Don't have an account?
      <a routerLink="/register">Register</a>
    </p>
  </form>
</div>
